<script type="text/ng-template" id="error-messages">
  <div ng-message="required">*<span>trans.required</span></div>
  <div ng-message="minlength">This field is too short</div>
</script>


<form novalidate name="bookingPriceRuleForm" role="form" class="mainForm center-block">

  <div ng-include="DYNAMIC_PRICING_TEMPLATE_LOCATION+'bookingpriceruleattrs.html'"></div>

  <div ng-include="DYNAMIC_PRICING_TEMPLATE_LOCATION+'bookingpricerulecontractconditions.html'"></div>

  <div ng-include="DYNAMIC_PRICING_TEMPLATE_LOCATION+'bookingpricerulestayconditions.html'"></div>

  <div ng-include="DYNAMIC_PRICING_TEMPLATE_LOCATION+'bookingpricerulecodeconditions.html'"></div>

  <div ng-include="DYNAMIC_PRICING_TEMPLATE_LOCATION+'bookingpricerulecountryconditions.html'"></div>

  <div ng-include="DYNAMIC_PRICING_TEMPLATE_LOCATION+'bookingpriceruletickerconditions.html'"></div>

  <button class="btn btn-primary" ng-click="save()">{{'trans.save' | translate}}</button>

  <a class="btn btn-default" ng-href="{{$state.href('ruleList', {establishmentTicker:establishmentTicker} )}}">
    {{'trans.back' | translate}}
  </a>

</form>


<!--
  <div class="codeBox">
        <pre class="alert alert-info">
            {{conditions | json}}
        </pre>
  </div>
-->
