<h2>
  <span translate>trans.code</span>
</h2>

<div class="innerContent">

  <div class="row protectionDateRow ">

    <div class=" col-xs-12 col-sm-10 col-md-11  ">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <p translate>trans.field.code.description</p>
        <input type="text" class="form-control"
               ng-model="code"
               ng-model-options="{ getterSetter: true }"
               placeholder="{{ 'trans.field.code.placeholder' | translate }}">
      </div>
    </div>
  </div>
</div>
