/* app css stylesheet */
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
a{
    color: inherit;
}

.errorMessagesContainer{
    padding-left: 17px;
}

#tiposhabitacionasociados input[type=checkbox]{
    margin-left: 0px;
}
.table-bordered{
    width: auto;
    border-collapse: separate;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.mainContainer {
    margin-left: auto;
    margin-right: auto;
}
/*TODO, USE MEDIA QUERIES*/
.mainForm {
    width: 95%;
    padding: 0 100px 0 100px;
}
.segmentedSelectWithInput {
    float: left !important;
    width: initial !important;
}
/*TODO, USE MEDIA QUERIES*/
.contractDateRow {
    /*
      height: 70px;
    */
}
.v-center {
    display: table !important;
    border: 2px solid gray;
    height: 300px;
}
.content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}
.row-xs-height {
    display: table-row;
}
.col-xs-height {
    display: table-cell;
    float: none;
}

.contractHourRangeTimeZonePicker{
    padding-top: 34px;
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-sm-height {
        display: table-row;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        display: table-cell;
        float: none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
    }
    .contractHourRangeTimeZonePicker , .timeZonePicker{
        padding-top: 34px;
    }
}
/* firefox fix */
.img-responsive {
    width: 100%;
}
/* vertical alignment styles */
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}
.innerRow {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 768px) {
    .seven-cols.col-md-1,
    .seven-cols.col-sm-1,
    .seven-cols.col-lg-1 {
        width: 100%;
        *width: 100%;
        padding-left: 0px;
    }
}
@media (min-width: 992px) {
    .seven-cols.col-md-1,
    .seven-cols.col-sm-1,
    .seven-cols.col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        padding-left: 0px;
    }
}
/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
    .seven-cols.col-md-1,
    .seven-cols.col-sm-1,
    .seven-cols.col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        padding-left: 0px;
    }
}
.lastDay {
    text-align: right;
}
.middleDay {
    /*text-align: center;*/
}
.bookingPriceRuleList {
    /*
    text-align: center;
    */
    margin: 20px 20px 0 20px;
}
.bookingPriceRuleList .row {
    margin: 0;
}
.bookingPriceRuleList .sortableList {
    list-style-type: none;
    padding: 0;
}
.bookingPriceRuleList .col-xs-3 {
    border: 1px solid #000000;
}
.duallistbox {
    height: 400px;
}
.codeBox {
    position: absolute;
    z-index: 99;
    margin-top: -2344px;
    /* margin-right: 100px; */
    /* margin-left: 1015px; */
    right: 0px;
    width: 351px;
}

.checkHover {
    color: orange;
}

.check{
    cursor: pointer;
}

.firstRow{
    padding-left: 15px;
}
.selectMultipleButton{
    width: 100px;
}
.innerContent{
    padding-left: 50px;
}
#dynamicPricingModuleContainer .form-control {
    padding: 6px 14px !important;
}
