<header ng-include="'scripts/components/layout/topnavbar.html'" class="topnavbar-wrapper"></header>

<aside ng-include="'scripts/components/layout/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>

<aside ng-include="'scripts/components/layout/offsidebar.html'" class="offsidebar"></aside>

<section>
    <div ui-view="content" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>

<footer ng-include="'scripts/components/layout/footer.html'"></footer>

